.form-submit{
    width:50%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
}
form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap:25px
}